@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
 

.home{
   display: block;
     
}

.search-bar{
    display: flex;
    padding-top: 75px;
    padding-bottom: 50px;
}

.border-container{
    margin: 0 auto;
    display: flex;
}

.search-text{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border: none;
    padding-right: 20%;
}

.search-text::placeholder{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: gray;
}

.search-text:focus{
    outline: none; 
}

.search-icon{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.input-form{
    width: 22vw;
    border-radius: 15px;
    border: 1px darkgray solid;
    padding: 5px 5px 5px 25px;
}


.hotel-example{
    text-decoration: none;
    color: black;
    width: 25%;
    height: 40%;
    box-shadow: inset;
    border-radius: 6%;
    box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.38);
    transition: all .2s ease-in-out; 
    margin: 0% 5% 0% 5%;
}

.location{
    display: flex;
    color: black;
    font-size: 1vw;
    padding-left: 5%;
    padding-top: .05vw;
}

.hotel-name{
    display: flex;
    margin-left: auto;
    font-size: 1vw;
}



.price-bar{
    display: flex;
    align-items: center;
    width: 85%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin: 0 auto;
    border-bottom: 2px solid lightgray;
    
}

.hotelimg{
    width: 100%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.pinicon{
    font-size: 1.1vw;
}

.hotel-example:hover{
    transform: scale(1.1);
}


.motto{
    padding-top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vw;
}

.deal-containers{
    width: fit-content;
    max-width: 80vw;
    max-height: 70vw;
    height: 80vw;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

}
