@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.topBar{
    background-color: #1a2123;
    display: flex;
    justify-content: center;
    border: 5px;
    height: 75px;
}

.nav-hold{
    display: flex;
    align-items: center;
    color: black;
    padding-right: 20px;
}

.nav-items{
    text-decoration: none;
    color: white;
    background-size: contain;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.nav-items:hover{
    background-color: #0e1213;
}

.brand{
    display: flex;
    color: #19c88b;
    align-items: center;
    padding-right: 35%;
    font-family: 'Merriweather', serif;

}

.plane{
    width: 250px;
    border: 200px;
}

